<svg class="absolute w-[50%] right-0 top-10 left-100 -z-10" width="893" height="1500" viewBox="0 0 893 1500"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.5" filter="url(#filter0_f_2_810)">
            <circle cx="750" cy="750" r="250" fill="#FACD49" />
        </g>
        <defs>
            <filter id="filter0_f_2_810" x="0" y="0" width="1500" height="1500" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="250" result="effect1_foregroundBlur_2_810" />
            </filter>
        </defs>
    </svg>
    <img class="absolute pointer-events-none" src="./assets/Ellipse 23.svg" alt="">
    <header class=" px-20 py-8 max-[492px]:px-5 max-[425px]:py-4 min-[1441px]:px-52">
        <nav class="w-full mx-0 my-auto  flex items-center justify-between ">
            <div class="flex">
                <div class="cursor-pointer pt-4 pr-1  hidden max-[640px]:pt-6 max-[990px]:block max-sm:pr-0 "> <button
                        id="dropDownbtn" onclick="Open()"
                        class="fa-solid fa-bars text-[#5D50C6] toggle-btn text-3xl max-sm:text-xl "></button>
                </div>
                <div class=" max-[490px]:mr-16 max-[375px]:mr-6 "> <img src="./assets/image 1.png" alt="Logo"
                        width="150rem">

                </div>
            </div>



            <ul
                class=" flex gap-x-16 font-[700] text-xs shrink-[10] text-gray-600 max-[990px]:hidden  min-[1135px]:text-[1rem] min-[1441px]:text-lg  ">
                <li
                    class="list-none hover:text-gray-800 hover:font-bold hover:text-[1.2rem] active:text-gray-900 min-[1441px]:hover:text-[1.35rem]">
                    <a class="no-underline" href="index.html">Home </a></li>
                <li
                    class="list-none  hover:text-gray-800 hover:font-bold hover:text-[1.2rem] active:text-gray-900 min-[1441px]:hover:text-[1.35rem]">
                    <a class="no-underline" href="#Today">Events</a></li>

                <li
                    class="list-none  hover:text-gray-800 hover:font-bold hover:text-[1.2rem] active:text-gray-900 min-[1441px]:hover:text-[1.35rem]">
                    <a class="no-underline" href="#Highlights">Highlights</a></li>
                <li
                    class="list-none  hover:text-gray-800 hover:font-bold hover:text-[1.2rem] active:text-gray-900 min-[1441px]:hover:text-[1.35rem]">
                    <a href="pre0lympic.html"> PastOlympics</a>
                </li>

                <li class="list-none  "> <a
                        class=" hover:text-gray-800 hover:font-bold hover:text-[1.2rem] active:text-gray-900 min-[1441px]:hover:text-[1.35rem]"
                        href="#Athletes">Athletes</a></li>
            </ul>

            <button
                class="bg-[#5D50C6] text-gray-100  px-4 py-2 text-sm font-semibold outline-none rounded-3xl cursor-pointer active:scale-[0.95] hover:scale-[1.05] hover:text-[#5D50C6] hover:bg-gray-50 hover:border-[#5D50C6] hover:border-[1px] min-[1135px]:text-[1.2rem] min-w-[8rem] max-sm:min-w-[7rem]  max-[391px]:px-0 max-[391px]:text-xs min-[1441px]:text-lg min-[1441px]:hover:text-[1.35rem] Tickets"><a
                    href="#Tickets">Book Tickets</a></button>

        </nav>


        <div class="absolute dropDownMenu   mt-2 hidden z-[1] ">
            <ul
                class=" flex flex-col box-border min-w-[80vw] py-2 bg-[#FCE3DC] min-[990px]:hidden  transition-height duration-200 ease-cubic-bezier justify-center items-center gap-y-2 font-[500] text-sm  text-gray-600 bg-gradient-to-r from-[#FCE3DC] to-[#fff] w-[20rem] rounded-lg backdrop-blur-lg     ">
                <li class="list-none hover:text-purple-800 hover:font-bold hover:text-xl "> <a class="no-underline"
                        href="index.html">Home </a></li>
                <li class="list-none  hover:text-purple-800 hover:font-bold hover:text-xl"> <a class="no-underline"
                        href="#Today">Events</a></li>

                <li class="list-none  hover:text-purple-800 hover:font-bold hover:text-xl"> <a class="no-underline"
                        href="#Highlights">Highlights</a></li>
                <li class="list-none  hover:text-purple-800 hover:font-bold hover:text-xl">
                    <a href="pre0lympic.html"> PastOlympics</a>
                </li>

                <li class="list-none  "> <a class=" hover:text-purple-800 hover:font-bold hover:text-xl"
                        href="#Athletes">Athletes</a></li>

                <button
                    class="bg-[#5D50C6] text-gray-100 shrink-[11] px-2 py-1 text-lg font-semibold outline-none rounded-3xl cursor-pointer active:scale-[0.95] hover:scale-[1.05] hover:text-[#5D50C6] hover:bg-gray-50 hover:border-[#5D50C6] hover:border-[1px] w-[80%]"><a
                        href="#Tickets">Book Tickets</a></button>
            </ul>
        </div>

    </header>